/* this line code for html & body design */

html,body{


    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "lato,sans-serif";
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}
/* this line of code for image-background height */
.pimg1{

    background-image: url(images/image1.png);
    min-height: 100%;
    
    
}
/* this line of second image background and height */
.pimg2{
    background-image: url(images/image2.png);
    min-height: 400px;
    
    
}
/* this line for code for third image background and height */

.pimg3{
    background-image: url(images/image3.png);
    min-height: 400px;
    
    
}
/* this line code for all images position background-size,repeat  */

.pimg1,.pimg2,.pimg3{
    
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* this line of code for text area */
.text{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;


}
/* this line code for textbg  */
.textbg{
    background-color: #313534;
    color: #dbe1e0;
    padding: 20px;

}
/* section light  */
.section_light{
    padding: 50px  80px ;
    text-align: center;
    background-color: #f4f4f4;
    color: #666;

}
/* section dark  */
.section_dark{
    background-color: #f4f4f4;
    color: #666;
    padding: 50px  80px ;
    text-align: center;
}
/* section bright */
.section_bright{

    background-color: #f4f4f4;
    color: #666;
    padding: 50px  80px ;
    text-align: center;

}


